APP_NAME=AllSafe
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_PORT=8080
APP_URL=http://localhost

FRONTEND_URL=http://localhost:5173

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql_core

DB_IDENTITY_HOST=pgsql
DB_IDENTITY_PORT=5432
DB_IDENTITY_DATABASE=identity_db
DB_IDENTITY_USERNAME=sail
DB_IDENTITY_PASSWORD=password

DB_CORE_HOST=pgsql
DB_CORE_PORT=5432
DB_CORE_DATABASE=core_db
DB_CORE_USERNAME=sail
DB_CORE_PASSWORD=password

DB_KNOWLEDGE_HOST=pgvector
DB_KNOWLEDGE_PORT=5432
DB_KNOWLEDGE_DATABASE=knowledge_db
DB_KNOWLEDGE_USERNAME=sail
DB_KNOWLEDGE_PASSWORD=password

DB_AUDIT_HOST=pgsql
DB_AUDIT_PORT=5432
DB_AUDIT_DATABASE=audit_db
DB_AUDIT_USERNAME=sail
DB_AUDIT_PASSWORD=password

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=minio
QUEUE_CONNECTION=redis

CACHE_STORE=redis
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_DEFAULT_BUCKET=documents
MINIO_USE_PATH_STYLE_ENDPOINT=true

VITE_APP_NAME="${APP_NAME}"

AI_CLIENT=llama_cpp

AI_ANALYSIS_MAX_CHARS=20000

AI_OLLAMA_BASE_URL=http://ollama:11434
AI_OLLAMA_MODEL=qwen2.5:7b
AI_OLLAMA_TEMPERATURE=0.1
AI_OLLAMA_TIMEOUT=1000

AI_LLAMA_CPP_BASE_URL=http://host.docker.internal:8082
AI_LLAMA_CPP_MODEL=local
#AI_LLAMA_CPP_API_KEY=
AI_LLAMA_CPP_TEMPERATURE=0.1
AI_LLAMA_CPP_MAX_TOKENS=16384
AI_LLAMA_CPP_TIMEOUT=1000

AI_EMBEDDING_BASE_URL=http://embedding-service:8001
AI_EMBEDDING_TIMEOUT=60
